h1 {
    color: brown;
}

* {
    background-color: #d0c8e6;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #e03487;
}

.games {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer {
    display: flex;
    justify-content: space-between;
    background-color: #e03487;
}

.header h1 {
    background-color: #e03487;
}

.header a {
    background-color: #e03487;
}